:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 12px;  
  height: 10px;             
}

::-webkit-scrollbar-track {
  background: rgb(28, 28, 28);    
}

::-webkit-scrollbar-thumb {
  background-color: rgb(48, 48, 48);
  border-radius: 10px;   
}


::-webkit-scrollbar-thumb:hover { 
  background-color: rgb(72, 72, 72);
}